
/* BODY OFFSET */
body {
    padding-top: 75px;
}
body {
     min-height: 100vh;
     background:
        linear-gradient(
            rgba(249, 218, 136, 0.6),
            rgba(55, 18, 18, 0.6)
        ),
        url("https://media.istockphoto.com/photos/diverse-international-students-celebrating-graduation-picture-id488520507?k=6&m=488520507&s=612x612&w=0&h=9kJKT6sOx5LQuEDi0R4cjG5w4sx3rrrXMImm6u6BhjI=");
    background-size: cover;
    background-position: center;}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

/* CARD */
.card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
}

/* CARD BODY */
.card-body {
    padding: 25px;
}

/* TITLE */
.card-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1f2937;
}

/* TABLE */
.table-data {
    width: 100%;
    border-collapse: collapse;
}

/* HEADER */
.table-data thead {
    background-color: #1f2937;
}

.table-data th {
    color: #ffffff;
    padding: 14px;
    text-align: left;
    font-size: 14px;
}

/* ROWS */
.table-data td {
    padding: 10px;
    font-size: 12px;
    color: #374151;
    border-bottom: 1px solid #e5e7eb;
}

.table-data tbody tr:nth-child(even) {
    background-color: #f9fafb;
}

.table-data tbody tr:hover {
    background-color: #eef2ff;
}

/* BUTTON */
.btn {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.btn-primary {
    background-color: #2563eb;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #1d4ed8;
}

 .btn-success {
      padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    background-color: #16a34a;
}

 .btn-danger {
      padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    background-color: #dc2626;
}
/* RESPONSIVE TABLE */
@media (max-width: 768px) {
    .table-data thead {
        display: none;
    }

    .table-data tr {
        display: block;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
        padding: 10px;
        background: #ffffff;
    }

    .table-data td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .table-data td::before {
        content: attr(data-label);
        font-weight: 600;
        color: #1f2937;
    }
}
