/* BACKGROUND IMAGE */
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background-color: #03152b;
    color: #f9f6ff;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* TITLE */
header h1 {
    font-family: Cambria, Georgia, "Times New Roman", serif;
    font-size: 22px;
}

header span {
    font-size: 13px;
    color: #cbd5e1;
}

/* NAVBAR */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #374151;
    color: #ffffff;
}

/* LOGOUT */
nav ul li a.logout {
    background-color: #dc2626;
    color: #ffffff;
}

nav ul li a.logout:hover {
    background-color: #b91c1c;
}