/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BODY */
body {
    min-height: 100vh;
    background:
        linear-gradient(rgba(249, 218, 136, 0.6), rgba(55, 18, 18, 0.6)),
        url('https://media.istockphoto.com/photos/diverse-international-students-celebrating-graduation-picture-id488520507?k=6&m=488520507&s=612x612&w=0&h=9kJKT6sOx5LQuEDi0R4cjG5w4sx3rrrXMImm6u6BhjI=');
    background-size: cover;
    background-position: center;
}

/* HEADER */
.page-header {
    text-align: center;
    padding: 50px 15px 20px;
}

.page-header h1 {
    font-size: 45px;
    font-weight: 800;
    color: #0a0a0a;
    text-shadow: 1px 1px 5px rgba(255,255,255,0.6);
}

/* NAVBAR */
.navbar {
    margin-top: 15px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #300559;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* MAIN */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* LINE */
#line {
    height: 3px;
    max-width: 800px;
    margin: 20px auto;
    border: none;
    border-radius: 3px;
    background: rgba(0,0,0,0.3);
}

/* REGISTER SECTION */
.register-section {
    text-align: center;
    padding: 20px;
}

.register-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #000003;
}

/* GRID */
.nav-tab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

/* CARD */
.nav-item {
    background: rgba(1, 11, 22, 0.7);
    border-radius: 18px;
    padding: 40px 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}

.nav-item i {
    font-size: 42px;
    color: #abbde5;
    display: block;
    margin-bottom: 15px;
}

.nav-item a {
    text-decoration: none;
    color: #e5e9ee;
    font-size: 18px;
    font-weight: 600;
}

.nav-item:hover {
    transform: translateY(-8px);
    background: #021430;
}

/* MOBILE */
@media (max-width: 600px) {
    .page-header h1 {
        font-size: 32px;
    }
}
